<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--测试AOP-->
    <bean id="getSource" class="com.example.dao.impl.GetOracleSourceImpl"></bean>
    <!--    测试DI-->
    <bean id="getMysqlSourceImpl" class="com.example.dao.impl.GetMysqlSourceImpl">
        <property name="name" value="lya"/>
    </bean>
    <!--    测试生命周期-->
    <bean id="user" class="com.example.domain.User" init-method="init" destroy-method="destroy"></bean>

    <!--    测试多例-->
    <bean id="user1" class="com.example.domain.User" scope="prototype"></bean>

    <!--    测试调用默认构造函数-->
    <bean id="user2" class="com.example.domain.User"></bean>

    <!--    测试静态工厂实例化方式-->
    <bean id="user3" class="com.example.domain.User" factory-method="createUser"></bean>

    <!--引入别的模块的配置信息-->
    <import resource="applicationContext1.xml"/>
</beans>
